<footer class="bg-primary ph3 pv4 white">
<br>

<div class="measure-narrow center mb4">
<h3>Get news from us in your inbox every month</h3>
{{ partial "newsletter-form" . }}
</div> 	
			<div>
<h3>Contact us.....</h3>
				<span class=emailadd><a href="mailto:hamblefest@hambledonsurrey.co.uk" target="_top">hamblefest@hambledonsurrey.co.uk</a></span>
			    <span class=socialicon>{{ partial "social-icon" (dict "link" "https://www.facebook.com/hamblefest/" "svg" "icons-facebook") }}</span>
				<span class=socialicon>{{ partial "social-icon" (dict "link" "https://twitter.com/hamblefest" "svg" "icons-twitter") }}</span>
				<span class=socialicon>{{ partial "social-icon" (dict "link" "https://www.instagram.com/hamblefest" "svg" "icons-instagram") }}</span>
			</div>
</footer>

{{ partial "svg" . }}

</body>

</html>
