<header class="site-header px2 px-responsive">
  <link href='https://fonts.googleapis.com/css?family=Mystery+Quest' 
      rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Asul' 
      rel='stylesheet' type='text/css'>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="description" content="Hambledon Fete, Hambledon Midsummer Festival"/>
  <img class="treeimage" src="/images/hambledon-colour-logo-clear-small-no-text.png" alt="">
</header>


